<div class="spanner" style="display:none;">
    <div class="overlay">
    </div>
    <img src="/images/loader.svg" alt="" class="img-fluid" />
    <div class="loader-footer">
        <div class="white-bg countPercentage">
            <span data-count="">0</span>
            <p>%</p>
        </div>
        <h4><span class="custom-text"></span> <span id="dots"></span></h4>
        <img src="/images/logo/veribuild.svg" alt="" class="img-fluid" />
    </div>
</div>