<ul class="nav nav-pills" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link @(ViewData[Utils.NavActive_Key]?.ToString() == "addproperties" ? "active" : "")" id="pills-link1-tab" data-bs-toggle="pill" data-bs-target="#pills-link1"
                type="button" role="tab">
            Add Property
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link @(ViewData[Utils.NavActive_Key]?.ToString() == "myproperties" ? "active" : "")" id="pills-link2-tab" data-bs-toggle="pill" data-bs-target="#pills-link2"
                type="button" role="tab">
            My Properties
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link @(ViewData[Utils.NavActive_Key]?.ToString() == "manageproperties" ? "active" : "")" id="pills-link3-tab" data-bs-toggle="pill" data-bs-target="#pills-link3"
                type="button" role="tab">
            Manage
        </button>
    </li>
</ul>